<table border=3>
<tr>
   <td>id</td>
   <td>nom</td>
   <td>ville</td>
</tr>
{% for c in stade %}
<tr>
   <td>{{c.id}}</td>
   <td>{{c.nom}}</td>
   <td>{{c.ville}}</td>
     <td><a href={{ path('app_delete', {'id': c.id}) }}><button>delete</button></a></td>
</tr>
{% endfor%}
</table>